
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button [disabled]='hero.rollAmount <= 0' [class.selected]="hero === selectedHero && hero.rollAmount > 0" type="button" (click)="onSelect(hero)">
      <span class="badge">rolls left is {{hero.rollAmount}}</span>
      <br>
      <span class="red badge red">damage is 1 - {{hero.maximumRoll}}</span>
      <span class="name">{{hero.heroName}}</span>
    </button>
  </li>
</ul>

<ul class="heroes">
    <li *ngFor="let enemy of enemies">
      <button [disabled]='enemy.health <= 0' [class.selected]="enemy === selectedEnemy" type="button" (click)="onSelectEnemy(enemy)">
        <span class="badge">health left is {{enemy.health}}</span>
        <br>
        <span class="name">{{enemy.name}}</span>
      </button>
    </li>
  </ul>
  
  <button [disabled]='!(selectedHero && selectedEnemy)'  (click)="rollButton()">Roll</button>
  <p>{{rollText}}</p>

<p *ngIf="selectedHero && selectedEnemy">{{selectedHero.heroName}} attacks {{selectedEnemy.name}}</p>